* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    height: 70px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(94, 204, 167);
    border-bottom: 2px dotted rgb(216, 245, 22);
}

nav div:first-child {
    font-size: 40px;
    font-weight: bolder;
}

nav div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    width: 17%;
}

#main {
    width: 100%;
}

#page1 {
    height: calc(100vh - 72px);
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen {
    height: 80%;
    width: 80%;
    background-color: rgb(171, 176, 176);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 10px;
}

.container {
    height: 15vw;
    width: 18vw;
    background-color: red;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

@media screen and (max-width:500px) {
    nav {
        padding: 0px 10px;
    }

    nav div:nth-child(2) {
        width: 49%;
        gap: 9px;
        font-size: 20px;
    }

    #page1 {
        height: calc(100vh - 70px);
        width: 100%;
    }

    #screen {
        height: 70%;
        width: 85%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap
    }

    .container {
        height: 23vw;
        width: 80%;
        background: red;
        margin: 0px auto;
    }
}